/*
    全局动画css
*/

@keyframes jumbotron-jump {
    from {
        opacity: 0;
        transform: translateY(-70px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes delay-hide {
    from {
        opacity: 0;
    }
    to {
        opacity: 0;
    }
}